li {
    font-size: 20px;
}
body {
    background-color: white;
    font-size: 20px;
}
.header {
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 5%;
}
.fa {
    margin-right: 6px;
}
.social .fa {
    margin-right: 5px;
    margin-left: 20px;
}
img {
    margin-right: 15px;
    -webkit-transform: scaleX(-1);
    height: 519px;
}
.mobile {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3%;
}
.nav {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.nav span {
    display: inline-block;
}
#reveal {
    display: none;
}
@media only screen and (min-width: 990px) {
    #hide_nav{
        display: none;
    }
    #reveal_nav{
        display: block;
    }
}
@media only screen and (max-width: 990px) {
    #hide{
        display: none;
    }
    #reveal{
        display: block;
    }
}

#content{
    margin-left: 30px;
    margin-right: 30px;
}

